.backdrop-recipes.is-hidden-modal,
.modal-recipes.is-hidden-modal,
.modal-rating.is-hidden-modal {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms linear, visibility 250ms linear;
}

.overflow-hidden {
    overflow: hidden;
}

/* Background */

.backdrop-recipes {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #05050548;
    overflow: auto;

    opacity: 1;
    visibility: visible;
    pointer-events: all;

    transition: opacity 250ms linear, visibility 250ms linear;
}

.modal-recipes {
    width: 335px;
    overflow-y: scroll;
    scrollbar-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 500ms linear, visibility 500ms linear;
}

.modal-recipes::-webkit-scrollbar {
    width: 0;
}

@media screen and (max-width: 767px) {
    .modal-recipes::after {
        content: '';
        display: block;
        width: 335px;
        height: 20px;
        position: relative;
        bottom: -62px;
        left: -20px;
    }
}

@media screen and (min-width: 768px) {
    .modal-recipes {
        width: 531px;
        padding: 32px;
    }
}

/* Buttons */
.close-modal {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: #00000000;
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
}

.close-modal-ico {
    stroke: #050505;
    fill: rgba(5, 5, 5, 0.5);
    transition: transform 0.5s ease, color 0.5s ease;
}

.close-modal-ico:hover {
    transform: scale(1.2) rotate(180deg);
    stroke: rgba(155, 181, 55, 1);
    fill: rgba(155, 181, 55, 0.5);
}

@media screen and (min-width: 768px) {
    .close-modal {
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
    }

    .close-modal-ico {
        width: 24px;
        height: 24px;
    }

    .close-modal-ico:hover {
        transform: scale(1.2) rotate(180deg);
        stroke: rgba(155, 181, 55, 1);
        fill: rgba(155, 181, 55, 0.5);
    }
}

.save-recipes-btn,
.give-rating-btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    width: 148px;
    height: 41px;
    padding: 12px 8px;
    margin-right: 9px;
    border-radius: 15px;
    background-color: rgba(155, 181, 55, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(248, 248, 248, 1);
    border: none;

}

.save-recipes-btn:hover,
.save-recipes-btn:focus {
    color: rgba(5, 5, 5, 1);

}

@media screen and (min-width: 768px) {
    .save-recipes-btn {
        width: 156px;
        height: 45px;
        padding: 14px 10px;
        margin-right: 12px;
        border-radius: 15px;
    }
}

button.give-rating-btn {
    width: 133px;
    margin: 0;
    background-color: #fff;
    color: rgba(5, 5, 5, 1);
    border: 1px solid rgba(155, 181, 55, 1);
}

@media screen and (min-width: 768px) {
    button.give-rating-btn {
        width: 141px;
        height: 45px;
    }
}

.dark .give-rating-btn {
    background-color: rgba(5, 5, 5, 1);
}

/* Recipe-frame */
.recipe-frame {
    width: 295px;
    height: 295px;
    border-radius: 8px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .recipe-frame {
        width: 467px;
        height: 250px;
        margin-bottom: 16px;
        margin-top: 38px;
    }
}

/* text style */
.recipe-title-txt {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    margin-bottom: 14px;
    color: rgba(5, 5, 5, 0.8);
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .recipe-title-txt {
        margin-top: 32px;
        position: fixed;
        top: 0;
        text-transform: uppercase;
    }
}

.rating-part {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(5, 5, 5, 0.8);
    margin-bottom: 33px;
}

.rating-part .rate {
    margin-right: 9px;
}

.rating-part .rate-list {
    margin-right: 16px;
}

.ingredients {
    color: rgba(5, 5, 5, 1);
    margin: 0;
    padding: 0 30px 0 0;
}

@media screen and (max-width: 767px) {
    .ingredients {
        margin: 0 0 40px 0;
        max-height: 224px;
    }
}

@media screen and (min-width: 768px) {
    .ingredients {
        height: 204px;
    }

    .rating-part {
        right: 0;
        justify-content: flex-end;
    }
}

.recipe-ingredient {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #050505;
    border-bottom: 1px solid rgba(5, 5, 5, 0.1);
    padding-bottom: 6px;
}

.recipe-ingredient:not(:last-child) {
    margin-bottom: 16px;
}

.recipe-ps {
    color: rgba(5, 5, 5, 0.5);

    text-align: end;
}

.recipe-tags {
    color: #050505;
    padding: 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 24px 0;

    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .recipe-tags {
        margin: 0 0 32px 0;
        position: fixed;
        top: 336px;
    }
}

.recipe-tag {
    padding: 8px 16px 8px 16px;
    border-radius: 35px;
    border: 1px solid rgba(5, 5, 5, 0.2);
    color: #050505;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.recipe-instr {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
    max-height: 288px;
    overflow: hidden;
    padding-right: 15px;
    color: #050505;
}

@media (min-width: 768px) {
    .recipe-instr {
        margin-bottom: 30px;
        max-height: 162px;
        margin-top: 20px;
    }
}

.scroll-box {
    max-height: 100px;
    overflow: hidden;

}

@media screen and (max-width: 767px) {
    .modal-img {
        display: inline-block;
        max-width: 295px;
        border-radius: 8px;
    }
}

@media screen and (min-width: 768px) {
    .modal-img {
        display: inline-block;
        width: auto;
        height: 300px;
        border-radius: 8px;
    }
}

.modal-rating-star-item.is-rated {
    color: #eea10c;

    animation-name: rated;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: 1;
}


/* Rating-modal */

.is-hidden-modal {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear, visibility 250ms linear;
}

.modal-rating {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    height: 216px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}

.close-rate-modal {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: #00000000;
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
}

.close-modal-ico {
    stroke: #050505;
    fill: rgba(5, 5, 5, 0.5);
    width: 24px;
    height: 24px;
}

@media screen and (min-width: 768px) {
    .modal-rating {
        width: 424px;
        height: 254px;
        padding: 32px;
    }
}

.rate-modal-title {
    color: #050505;
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
}

.modal-rate-list {
    position: absolute;
    top: 40px;
    left: 50px;
    display: flex;
    gap: 2px;
    color: #d9d9d9;
    transition: color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (min-width: 768px) {
    .modal-rate-list {
        top: 50px;
        left: 65px;
    }
}

.item-modal-star {
    transition: color 2500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.modal-rate-list:hover {
    color: #EEA10C;

}

.item-modal-star:hover~.item-modal-star {
    color: #D9D9D9;
}

.rate-start-btn {
    padding: 0;
    background: transparent;
    color: inherit;
    border: none;
}

.rate-formfield {
    display: block;
    margin-bottom: 24px;
}

.rate-formfield:last-of-type {
    margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
    .rate-formfield {
        margin-bottom: 32px;
    }

    .rate-formfield:last-of-type {
        margin-bottom: 16px;
    }
}

.rate-range-value {
    font-size: 16px;
    font-weight: 500;
    color: #050505;
}

.rate-range-input {
    display: none;
}

.rate-email-input {
    width: 100%;
    height: 46px;
    padding: 14px 169px 14px 18px;
    font-size: 14px;
    color: #05050580;
    line-height: 1.2;
    border: 1px solid rgba(5, 5, 5, 0.2);
    border-radius: 15px;
    transition: border-color 250ms linear;
}

.rate-email-input::placeholder {
    font-size: 14px;
    font-weight: 500;
}

.rate-email-input:focus {
    outline: none;
}

.send-rating-btn {
    width: 100%;
    padding: 15px;
    background-color: #9BB537;
    color: #F8F8F8;
    font-size: 14px;
    line-height: 1.2;
    border: none;
    border-radius: 15px;
    transition: opacity 250ms linear;
}

.send-rating-btn:disabled {
    opacity: 0.5;
    cursor: default;
}

@media screen and (min-width: 768px) {

    .rate-email-input,
    .send-rating-btn {
        height: 48px;
    }

    .rate-email-input {
        font-size: 16px;
    }

    .item-modal-star.is-rated {
        color: #eea10c;
        animation-name: rated;
        animation-duration: 500ms;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        animation-iteration-count: 1;
    }

    @keyframes rated {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        0% {
            transform: scale(1);
        }
    }
}


/* Dark Theme */

.dark-theme .modal-recipes,
.dark-theme .modal-rating {
    background-color: #050505;
}

.dark-theme .recipe-title-txt,
.dark-theme .rate-modal-title,
.dark-theme .recipe-instr,
.dark-theme .modal-recipes .rate,
.dark-theme .rate-range-value {
    color: #fff;
}

.dark-theme .recipe-ingredient {
    border-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.dark-theme .recipe-ps {
    color: rgba(255, 255, 255, 0.5);
}

.dark-theme .recipe-tag {
    border-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.dark-theme .close-modal .close-modal-ico {
    stroke: #fff;
}


.dark-theme .recipe-time {
    color: rgba(255, 255, 255, 0.5);
}


/*bugs-fix*/
.rate-list {
    display: flex;
    margin-right: auto;
}

.star-icon {
    fill: currentColor;
}

@media screen and (min-width: 768px) {
    .star-icon {
        width: 16px;
        height: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .star-icon {
        width: 18px;
        height: 18px;
    }
}

.rate-item-active {
    color: #eea10c;
}

.rate-item {
    color: rgba(248, 248, 248, 0.1);
}

.modal-star-icon {
    fill: currentColor;
    stroke: currentColor;
}