.upscroll-btn {
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  
    border: none;
  
    border-radius: 50%;
  
    background-color: #9bb537;
    opacity: 0.7;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate3d(0, -50%, 0);
    animation: animateUp 2s infinite ease-in-out;
  }
  
  .upscroll-btn:hover {
    opacity: 1;
    -webkit-box-shadow: 1px 1px 17px 2px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 1px 1px 17px 2px rgba(0, 0, 0, 0.53);
    box-shadow: 1px 1px 17px 2px rgba(0, 0, 0, 0.53);
  }
  
  .dark-theme .upscroll-btn:hover {
    box-shadow: 1px 1px 17px 2px rgba(155, 181, 55, 1);
  }
  
  @keyframes animateUp {
    0%,
    100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 30%);
    }
  }
  
  .icon-arrow {
    fill: #9bb537;
    stroke-width: 2px;
    stroke: #161616;
  }
  