@media screen and (min-width: 375px) {
    .container {
        width: 375px;
    } 
}
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    } 
    .footer-contaiter {
        display: flex;
        width: 100%;
    }
    .footer-body {
        width: 100%;
    }
    .footer-foto {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 12px;
    }
    .footer-item {
        width: calc((100% - 48px) / 2);
      }
}
@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        padding-left: 100px;
        padding-right: 99px;
    } 
    .footer-item {
        width: calc((100% - 48px) / 4);
      }
}