
<div class="content">
    <div> class="footer"> 
      <div class="container"> 
        <p class="hear"><span>&#169</span>  2023  <span>
          <svg class="icon-hear" width="18" height="18">
            <use href="./svg/symbol-defs.svg#icon-hear"></use>
          </svg>
        </span>GoIT developers</p>
      </div>
    </div>  
  </div>
  <div class="footer-modal">
    <div class="footer-contaiter">
      <div class="footer-body">
        <div class='footer-foto'></div>
        <div class="footer-modal-close">&#10006</div>
      </div>
    </div>
</div>

