<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="stylesheet" href="./css/layouts/_gallery-markup.css" />
  </head>
  <body>

    <div class="recipe-card">
      <ul class="recipe-card__list">
        
      </ul>
    </div>

    <script type="module" src="./js/gallery-markup/gallery-markup.js"></script>
    <script type="module" src="./js/gallery-markup/recieps-api.js"></script>
  </body>
</html>
