<div class="header">
  <div class="container">
    <div class="header-items">
      <nav class="navigation">
        <a class="header-nav-links nav-link home-marg" href="./index.html">Home</a>
        <a class="header-nav-links nav-link" href="./favorites.html">Favorites</a>
      </nav>
      <a href="./index.html" class="logo-tasty">tasty<span class="logo-treats">treats.</span></a>
      <div class="header-icons">
        <button class="header-shopping-btn order-open-btn" aria-label="shopping btn" type="button">
          <svg class="shopping-icon order-btn" width="24" height="24">
            <use class="shopping-icon-use" href="./svg/symbol-defs.svg#icon-basket-default"></use>
          </svg>
        </button>
        <div>
          <label class="header-switch">
            <input type="checkbox" />
            <span class="header-slider"></span>
          </label>
        </div>
        <button class="mob-menu-btn" type="button">
          <svg class="mobile-icon" width="32" height="32">
            <use class="mobile-menu-icon" href="./svg/symbol-defs.svg#icon-menu-default"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="mobile-menu">
    <button class="mob-menu-btn-close" type="button">
      <svg class="mob-menu-close" width="32" height="32">
        <use class="mob-menu-close-icon" href="./svg/symbol-defs.svg#icon-close-btn"></use>
      </svg>
    </button>
    <ul class="mob-menu-list">
      <li>
        <a class="header-list-item mob-nav-link" href="./index.html">Home</a>
      </li>
      <li>
        <a class="header-list-item mob-nav-link" href="./favorites.html">Favorites</a>
      </li>
    </ul>
    <div>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>