<div class="hero-list">
  <div class="container hero-container">
    <h1 class="hero-title">
      "Learn to Cook"
      <span class="hero-link">Tasty Treats'</span>"Customizable Masterclass"
    </h1>
    <p class="hero-subtitle">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <button order-open-btn type="button" class="hero-btn hero-order">
      Order now
    </button>
  </div>
  <!-- swiper -->
  <div class="swiper-container hero">
    <div class="swiper hero-card">
      <!-- Additional required wrapper -->
      <div class="twist swiper-wrapper">
        <!-- Slides -->
        <!-- <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div> -->
      </div>
      <div class="swiper-pagination"></div>
      <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
    </div>
  </div>
</div>
