<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
		<section class="hero-list">
        <div class="container hero-container">
          <div class="hero-description">
            <h1 class="title">
              <a href="#top" class="hero-title"
                >Learn to Cook
                <span class="hero-link">Tasty Treats'</span> Customizable
                Masterclass</a
              >
            </h1>
            <p class="hero-subtitle">
              TastyTreats - Customize Your Meal with Ingredient Options and
              Step-by-Step Video Guides.
            </p>
            <button data-order-open type="button" class="hero-btn hero-order">
              Order now
            </button>
          </div>
				</section>	
	</body>
</html>
