@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  --ss-primary-color: transparent;
  --ss-bg-color: transparent;
  --ss-font-color: #ffffff;
  --ss-font-placeholder-color: #ffffff80;
  --ss-disabled-color: #dcdee2;
  --ss-border-color: #ffffff33;
  --ss-highlight-color: #fffb8c;
  --ss-success-color: #00b755;
  --ss-error-color: #dc3545;
  --ss-main-height: 49.5px;
  --ss-content-height: 300px;
  --ss-spacing-l: 8px;
  --ss-spacing-m: 5px;
  --ss-spacing-s: 4px;
  --ss-animation-timing: 0.2s;
  --ss-border-radius: 15px;
}
