@import './_utils';
/* @import './footer/footer.css';
@import './footer/media.css'; */
@import './layouts/_favorites.css';
@import './layouts/_header.css';
@import './layouts/dark_theme.css';
@import './layouts/_hero.css';
@import './layouts/recipe.css';
@import './layouts/favorites-recipe.css';
@import './layouts/favorites-hero.css';
@import './layouts/popular.css';
@import './layouts/category.css';
@import './search/search.css';
@import './search/media.css';
@import './components/modal.css';
@import './layouts/up-scroll.css';
@import './common.css';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Inter-ThinBETA.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section-recipe {
  gap: 64px;
  padding-left: 100;
  padding-right: 99;
  display: flex;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
